node_modules/
dist/
wasm/*
!wasm/.keep
xtra

hengband/build/
hengband/src/hengband.js
hengband/src/hengband.wasm
hengband/src/hengband.data

tmp/*
!tmp/.keep

*.wasm

playwright-report/
test-results/
