/* SPDX-License-Identifier: MIT OR LicenseRef-Moria-Angband */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  overflow: hidden;
  color: var(--fg-color);
  background-color: var(--bg-color);
  font-family: monospace;
}
