/* SPDX-License-Identifier: MIT OR LicenseRef-Moria-Angband */
.menu {
  font-family: monospace;
  font-size: 1rem;
  border-bottom: 1px solid currentcolor;
  user-select: none;
}

.menubar {
  display: flex;
  flex-direction: row;
  gap: 1ch;
}

.trigger {
  appearance: none;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.trigger::before {
  content: "[ " / "";
}

.trigger::after {
  content: " ]" / "";
}

.positioner {
  z-index: 10;
  outline: none;
}

.popup {
  padding: 0.5lh 1.5ch;
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: monospace;
  font-size: 1rem;
  outline: none;
  border-color: var(--bg-color);
  border-style: solid;
  border-width: 0.5lh 0.5ch;
  box-shadow: inset 0 0 0 1px currentcolor;
}

.item,
.checkboxItem,
.linkItem,
.stepperItem {
  color: inherit;
  cursor: pointer;
  outline: none;
}

.linkItem {
  display: block;
  text-decoration: none;
}

.item[data-disabled],
.linkItem[data-disabled] {
  color: var(--bright-black);
  cursor: default;
}

.checkboxItem::before {
  content: "[ ] " / "";
}

.checkboxItem[data-checked]::before {
  content: "[x] " / "";
}

.separator {
  height: 1lh;
}

.groupLabel {
  color: var(--bright-black);
}

.stepperItem {
  display: flex;
  gap: 1ch;
  align-items: baseline;
}

.stepperItem > span:first-child {
  flex: 1;
}
